
@{
    ViewBag.Title = "About10";
}

<body>
    <h1>Beyond right and wrong is the first key to your entry into society</h1>
    <p>Ancient Chinese imperial power inheritance system.If you are said today, we should be elected. Looked right, but it does not work. Chinese ancient fanciful for many years, and finally adopted a seemingly &quot;stupid&quot; way: the eldest son inheritance system.This is actually a kind of ultimate referee system. The emperor no children, or have a lot of children, that the throne inheritance there are many possibilities. But as long as the eldest son of a birth, the problem is solved. This is actually the meaning of the gods, regardless of the eldest son is wise or stupid, these are irrelevant. If you do not use such a system, the trouble will be very terrible.</p>
    <p>When I was in college, I asked a law professor: China's litigation system is generally the second instance trial system, but if the final review, the parties think there are grievances how to do it? In ancient times, people can also go to the capital to find the emperor pleaded, modern people can only injustice the seaside it?</p>
    <p>
        There are three answers to his answer, and I have a deep impression today.
        First, that is really <strong>no way</strong>. All the means of relief in the law are exhausted, and this is the result that all the parties must accept, which is the end of the effort of human society to achieve justice. Second, to achieve justice, in a sense, and do business, like the whole society to <strong>consider the cost and benefits</strong>. It is impossible for individual justice, endless payment of social costs.Third, your generation of students, small half of the time in the examination, your world is often only &quot;right and wrong&quot; this one dimension. In fact, the overall <strong>social well-being</strong> is much more important than the specific right or wrong.
    </p>
    <p>Can go <strong>beyond right and wrong, is your first key to enter the community</strong>.</p>

</body>


