
@{
    ViewBag.Title = "About3";
}


<body>


    <h1>Learn Finance from zero</h1>
    <ul>
        <li>
            <p>
                About the Author:
                Zhang He, a famous financial writer and financial expert, wrote the &quot;successful financial management of 16 lessons&quot;, &quot;bank investment and financial management law&quot; and other financial category bestseller.
            </p>
        </li>
        <li>
            <p>
                About this book:
                Is a financial management tool, mainly including the basic concepts of financial management, common errors and practical skills. The following are the same as the &quot;The basic concept of financial management
                Financial management is a systematic project. Basically consists of income, consumption, savings, investment, liabilities and insurance of the six parts.
            </p>
        </li>
    </ul>
    <hr />
    <p>Financial management of the three common errors:</p>
    <ul>
        <li>
            <p>
                The first kind of misunderstanding: no money will not finance.
                First to establish the concept of financial management. Need to systematically raise income, save money, increase savings, continuous investment, clean up liabilities, set up insurance.Initial investment first. The monthly salary of 3,000 yuan is divided into two parts, part of the most basic for the daily minimum cost, the rest of the money on all into the study. When the monthly salary of more than 6,000 yuan, began to focus on investment information, the accumulation of investment experience, do not have to pursue the results of investment. When the wage increased to 12,000 yuan, need to buy their own insurance, the water gate to repair a little solid.
            </p>
        </li>
        <li>
            <p>The second kind of misunderstanding: money is earned, not save out of the Save money has two benefits, one can give you the accumulation of the principal, allows you to look at the opportunity to be able to shot. Another part of the advantage is to avoid quick success. The most successful investments are basically long-term investments.</p>
        </li>
        <li>
            <p>The third misunderstanding: financial management is concerned about all day financial products. Always pay attention to their financial products will increase the time of sunk costs. Good investment strategy is often staring at a promising product, and then long-term holding, do not frequent replacement. Case:You spent two hours watching the stock in the morning, you lost 2 hours to study and work time.</p>
        </li>
    </ul>
    <p>
        The most scientific family financial law: &quot;4321 distribution law&quot;
        The assets are divided into four parts, 40% for investment, 30% for consumption, 20% for savings, and 10% for insurance. With a constant hybrid strategy, after an asset rises, the total amount of the asset is reduced and it is evenly distributed among the other assets.
    </p>
    <p><strong>Case:</strong>If you have a monthly salary of 10,000, you can use 4,000 yuan to finance, 3,000 yuan to spend 2,000 yuan to save, 1,000 yuan to buy insurance, if your investment earned 2,000 yuan, or your salary rose 2,000 yuan, you can put This extra out of 2000 yuan and then in accordance with the &quot;4321&quot; ratio of the average distribution to the front of the four parts.</p>
    <p><strong>&quot;4321&quot; the specific distribution</strong></p>
    <ul>
        <li>
            <p><strong>40% of the investment part:</strong>If the income is relatively low, do not invest in foreign exchange, futures, P2P these high risk products. You can choose some long-term benefit, the risk of small and stable, such as fund investment, bonds, gold. If you already have their own small treasury, there is a spare cash, then you can try high-risk financial products, can be stocks, warrants, futures, foreign exchange, all kinds of virtual currency. You can also invest in some entities, such as real estate, shops, do venture capitalists.</p>
        </li>
        <li>
            <p><strong>30% of the consumption part:</strong>If you want to continue to grow their wealth, we must control consumption. To establish a minimum level of consumption to maintain the existing sense of happiness, to avoid falling into an infinite replacement and upgrade the state.</p>
        </li>
        <li>
            <p><strong>20% of the savings section:</strong>The best way is to force.Case:Regularly let the bank or financial software from your bank card deducted part of the funds.</p>
        </li>
        <li>
            <p>
                <strong>10% of the insurance section:</strong>The key to develop insurance awareness. In the short term, the possibility of an accident is very low, but if the time scale is stretched, you will find that sooner or later encounter a small probability event.
                Case:If a person has five kinds of common major diseases, the incidence of each disease is 10%, then a person 5 kinds of diseases are not the probability of how much? The answer is zero 9 of the 5 power, that is, 59%. In other words, there is still a 41% chance to get at least a big disease
            </p>
        </li>
    </ul>
    <hr />
    <p>
        <strong>To sum up:</strong>
        This book tells us some very introductory financial ideas and techniques, to us to establish a basic model of financial management. Also pointed out that the financial management of the novice common three kinds of errors, less money is not financial management, only make money without saving, and spend too much time to focus on financial products. Finally, the &quot;4321 Asset Allocation Law&quot; was proposed to encourage us to divide our assets into four parts, 40% of the investment, 30% of the consumption, 20% of the savings, and 10% of the insurance. If there is excess money in accordance with this proportion of the distribution down to their own set a long-term financial planning, reasonable planning their own wealth of life.
    </p>
    <p>
        <strong>Revelation:</strong>
        The essence of financial management is snowball. First of all you have to have a strong sense of the future, through the assets of your hands from the snow can not catch the more into the snowball. Second, the size of the beginning of the snowball from the long term is not so important, the key depends on whether you have, there are willing to plan and care.
        Financial management also requires a strong self-control and restraint of consumption impulse. The habit of developing financial management can not only help us to achieve the desired financial status, the most important thing is to bring the quality of life to a continuous upward slope, which is to control their own lives, to achieve the key to a happy life.
    </p>
    <ol>
        <li>financial management, including the money to raise, use, value-added three aspects, popular point is to make money, money, money. Through the financial management, to the lowest cost of financing to maximize the effectiveness of the use of funds to obtain the maximum profit.</li>
        <li>many people think: &quot;no money how to finance?&quot; Money has a large sum of money to start, make big money dream is not a day or two can be achieved, Buffet's wealth accumulation is from the beginning of saving money.</li>
        <li>attention to the child's financial education is important, but the parents in the training of children financial awareness of moderate attention, never let the children become slaves of money.</li>
    </ol>

</body>


