
@{
    ViewBag.Title = "About1";
}

<body>
    <h1>&quot;Giver&quot; how to avoid exhausting itself</h1>
    <p>This is how to become a smart &quot;giver&quot; in the organization. Wharton professor of management, organizational psychologist Adam Grant will be an organization of the members into three categories, one is selfish-er, one is to pay the equivalent of &quot;resource matching&quot; There is also a &quot;giver&quot;. Which gives the value of the organization to bring greater, and they are often the final &quot;life winner&quot;, you can get excellent performance, but also to the company's top position. So, is it more selfless and better? How can the giver be avoided or even pressed? How to improve the efficiency of giving, so that the loss of success as a secret? Grant's article in Harvard Business Review in January this year teaches you how to be a wise giver.</p>
    <p>when should I help? The answer is: centralized time management. Many people think that should be a good day, add up, but a psychological study has come to the opposite conclusion: the choice of decentralized people do not do well as good things to concentrate on the day to complete the people to obtain a sense of accomplishment Big. If you focus on a week to consciously give help, not only can clearly feel their own changes, but also focus on other time to complete their own tasks. You can like a professor to take out the &quot;office time&quot; to focus on answering student questions, the use of booking software, for their own pay to give a time limit.</p>
    <p>So many people, in the end should help who? People are willing to be the greatest degree of trust in others, the results are often used, but because of this, they are more likely to find selfish people. Each of us is limited in time, need to consciously train their ability to know people, filter human nature. Pay attention to each other when the request is put in place for you to consider, pay attention to each other after the help is insatiable. In the organization, in addition to the &quot;giver&quot;, there are selfish &quot;claimants&quot; and &quot;resource matching&quot; who do not help, then when the giver faces the request of the &quot;claimer&quot;, Who asked him to return, or ask him to help others, anyway, as a giver, you do not owe others anything.</p>
    <p>In short, as a giver in the organization, the generous premise is to preserve itself, but also to further develop a sustainable &quot;to give the system&quot;, which not only allows you to give more and make yourself more happy. The above content for your reference.</p>

</body>


