
@{
    ViewBag.Title = "About7";
}

<body>
    <h1>How to talk to others</h1>
    <p>In the morning, a child says &quot;I do not want to go to school.&quot; </p>
    <p>You can say <strong>&quot;It 's really hard to get up early every day.Sometimes I don't want to go to school,too.&quot;</strong></p>
    <hr />
    <p>Your child fell down.</p>
    <p>You can say <strong>&quot;You fell down.It hurts right?&quot;</strong>(I understand your feeling.) </p>
    <hr />
    <p>Your wife says &quot;Our neighbor buy a new car, do you see it?&quot;</p>
    <p>You can say <strong>&quot;I know you are not happy.&quot;</strong>(Describe others' feeling.)</p>

</body>


