@{
    ViewBag.Title = " ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Address:</strong>2615 Aspen Rd,Ames, IA 50011<br />
    
    <strong>Phone:</strong> (508)-677-7784
   
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:feifeizhanisu@gmail.com">feifeizhanisu@gmail.com</a><br />
    <strong>Email:</strong>   <a href="mailto:sewinguiuc@gmail.com">sewinguiuc@gmail.com</a><br />
    
</address>